
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex{
  display: flex;
}
.text-color-gray{
  color: rgb(66, 66, 66);
}
.text-color-lightgray{
  color: #727272;
}
.bg-light{
  background-color: rgb(255, 244, 230);
}
.bg-two{
  color: rgb(255, 144, 14);
}
.section-title{
  font-size: 2.8rem;
  font-weight: 700;
}
.btn-primary{
  width: 180px;
  height: 84px;
  background-color: rgb(255, 144, 14);
  border-radius: 8px;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 20px 25px;
  border: 0;
  
}

main{
  max-width: 1440px;
  margin: 0 auto;
  /* margin-top: 85px; */
}
main > section{
  margin-top: 130px;
}


/* header styles */





/* navbar related styles */
.nav-item{
  list-style: none;
  margin-right: 30px;
}
.nav-link{
  text-decoration: none;
  font-weight: 500;
}
.navbar{
  justify-content: space-between;
  align-items: center;
}
.brand{
  font-size: 3rem;
  font-weight: 700;
}
.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}


/* banner related styles */
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title{
  font-size: 4rem;
  font-weight: 700;
}
.banner-description{
  font-size: 1.2rem;

}
.banner-image{
  width: 100%;
}

/* team & feature related styles */

.teams{
  align-items: center;
}
.team-image-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.our-features{
  margin-left: 130px;
  max-width: 537px;
}
.feature-description{
  color:#727272;
}
#quick-list{
  color:#727272;
  font-weight: 500;
}
/* features section related styles */
#feature-section-title{
  border-left: 5px solid #FF900E;
  padding-left: 21px;
}
/* some facts related style */
.facts-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 124px;
}
.fact-card{
  border: 1px solid #FF900E;
  height: 241px;
  width: 241px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.fact-number{
  font-size: 2.8rem;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}
.fact-name{
  font-size: 1.25rem;
  color: #727272;
  font-weight: 600;
  margin-top: 10px;
}
.fact-description{
  max-width: 540px;
  height: 50px;
  font-size: 1rem;
  font-weight: normal;
}
/* sponsors information */
.sponsor-info{
  text-align: center;
  max-width: 540px;
  height: 129px;
  margin: 0 auto;
}
.sponsor-company{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.sponsor-company-img{
  filter: grayscale(100%)
}
/* features you will love */
.features{
  gap: 140px;
}
.feature-card{
  padding: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06) ;
  margin-bottom: 70px;
  border-radius: 8px;
}
.feature-card .feature-title{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px;

}
.clr{
  color: rgba(245, 59, 87,1.0);
  font-size: 2rem;
}
.btn-two{
  height: 200px;
  width: 342px;
  border-radius: 8px;
  background-color: #FF900E;
  color: white;
  border: 0;
  margin-left: -100px;
  margin-top: -80px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
 

#experience-badge{
  padding: 45px 42px;
  font-size: 1.5rem;
  font-weight: 500;

}
#experience-year{
  font-size: 4rem;
  font-weight: 700;
}
#exp{
  padding: 45px 42px;
  font-size: 1.9rem;
  font-weight: 500;

}
.featured-img img{
  width: 100%;
}
/* footer section */
.footer{
  max-width: 1440px;
  height: 100px;
  background-color: rgb(255, 244, 231);
  border-radius: 8px;
  border: 0;
  padding: 40px 410px;
  margin: 0 auto;
  margin-top: 50px;
}
.conclution{
  font-size: 1.25rem;
  font-weight: 400;
  color:#727272;
  text-align: center;
}

/* responsive media query */
/* small device */
@media screen and (max-width: 576px) {

.navbar, 
.nav-links,
.features,
.teams{
  flex-direction: column;
}  

.team-image-container, 
.facts-container,
.sponsor-company
{
  grid-template-columns: 1fr;
  
}
.facts-container
{
  justify-items: center;
  
  gap: 24px;
}
.btn-two{
  margin-top: 20px;
  margin-left: 20px;
}
.sponsor-company{
  gap: 50px;
  justify-items: center;
}

.our-features{
  margin-left: 20px;
}
.footer{
  padding: 10px;
}
.conclution{
  font-size: .875rem;
  color:rgba(108, 92, 231,1.0);
}
}

/* medium size device */
@media screen and (min-width: 576px) and (max-width: 992px){
  .teams,
  .features{
  flex-direction: column;
  .
  }
  .btn-two{
    margin-top: 30px;
    margin-left: 5px;
    /* margin: 0 auto; */
    /* align-items: center; */
  }
  .our-features{
    margin-left: 10px auto;
  }
  .sponsor-company, 
  .facts-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-items: center;
  }
  .footer{
    padding: 10px;
  }
  .conclution{
    font-size: 1rem;
    color:rgba(108, 92, 231,1.0);
  }
}

  
  


